정수 N을 입력받아서, 1번째 줄에는 별 N개, 2번째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 출력 예시와 같이 출력하여라.
(단, 별 사이에 반드시 공백을 포함해야 한다.)

In [ ]:
n=int(input())
for i in range(n):
  space1=' '*i
  space2='*'*(n-i)
  print(space1+space2)

3
***
 **
  *

정수 N을 입력받아서, 1번째 줄에는 별 1개, 2번째 줄에는 별 2개, ...,  N번째 줄에는 별 N개를 출력 예시와 같이 출력하여라.
(Hint: 별 앞에 띄어쓰기가 1번째 줄에는 N - 1개, 2번째 줄에는 N - 2개, ..., N번째 줄에는 0개 있으며 별 사이에 반드시 공백을 포함해야 한다.)
(P.S.: 출력되는 텍스트의 글꼴에 따라서, 띄어쓰기 너비가 글자 너비와 같지 않은 경우는 모양이 살짝 다르게 나올 수도 있다.)
[입력 예시 1]
3

[출력 예시 1]
    *
  * *
* * *

In [ ]:
n=int(input())
for i in range(n):
  space1=' '*(n-i-1)
  space2='*'*(i+1)
  print(space1+space2)

3
  *
 **
***

주사위 3개를 던졌을 때,
세 주사위 합이 4의 배수인지 6의 배수인지
판별하는 프로그램을 작성하라.
(주사위의 눈은 6이하의 자연수이므로, 1 부터 6을 제외한 다른 수의 입력은 제외한다.)
[입력 예시 1]
1
2
3
[출력 예시 1]
6 is multiple of 6
[입력 예시 2]
3
4
5
[출력 예시 2]
12 is multiple of 4 and 6
[입력 예시 3]
1
1
1
[출력 예시 3]
3 is not multiple of 4 or 6
[입력 예시 4]
1
5
2
[출력 예시 4]
8 is multiple of 4

In [ ]:
a=int(input())
b=int(input())
c=int(input())

sum=a+b+c

if sum % 4 ==0 and sum % 6 ==0:
  print("%d is multiple of 4 and 6"%(sum))
elif sum % 4 ==0 and sum % 6 !=0:
  print("%d is multiple of 4"%(sum))
elif sum % 4!=0 and sum % 6 ==0:
  print("%d is multiple of 6"%(sum))
else:
  print("%d is not multiple of 4 or 6"%(sum))

1
2
3
6 is multiple of 6

자연수 n1과 n2를 입력받아 for문을 이용하여 n1:00 부터 n2:00까지
시 단위로 출력하는 프로그램을 작성하라.
(단, n1>n2이면 n2는 그 다음날의 시간이며 0시는 항상 24시로 표시한다. )
[입력 예시 1]
1
3
[출력 예시 1]
01:00
02:00
03:00

In [ ]:
n1 = int(input())
n2 = int(input())
if n1<=n2:
   for i in range(n1,n2+1):
    print("%02d:00"%(i))
else:
  for i in range(n1,25):
    print("%02d:00"%(i))
  for j in range(1,n2+1):
    print("%02d:00"%(j))

5
1
05:00
06:00
07:00
08:00
09:00
10:00
11:00
12:00
13:00
14:00
15:00
16:00
17:00
18:00
19:00
20:00
21:00
22:00
23:00
24:00
01:00

반복해서 문자와 숫자를 입력받아 입력 받는 문자를 각 숫자만큼 이어서 출력하는 프로그램을 작성하시오.
이때 문자 "?" 또는 "!" 를 입력 받으면 숫자를 입력 받지 않고 출력도 하지 않으며,
문자 ";"을 입력 받은 경우 숫자를 입력받지 않고 출력도 하지 않으며 반복문을 종료한다.
[입력 예시 1]
a
1
p
2
l
1
e
1
;
[출력 예시 1]
apple

In [ ]:
list=""
while(1):
  word=input()
  if word == "?" or word == "!":
    continue
  elif word == ";":
    break
  else:
    n=int(input())
    list+=word*n

print(list)

a
1
p
2
l
1
e
1
;
apple

정수 n을 입력 받아, 아래와 같은 형태로 *을 출력하는 프로그램을 작성하시오.
[입력 예시1]
5

[출력 예시1]
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********
[입력 예시 2]
2

In [ ]:
n = int(input())

for i in range(2 * n - 1):
    if i < n:
        stars = 2 * (n - i) - 1
    else:
        stars = 2 * (i - n + 2) - 1

    spaces = (2 * n - 1 - stars) // 2
    print(" " * spaces + "*" * stars)

3
*****
 ***
  *
 ***
*****

정수 N을 입력받아서, 1번째 줄에는 별 1개, 2번째 줄에는 별 2개, ..., N번째 줄에는 별 N개를 출력 예시와 같이 출력하여라.
(단, 별 사이에 반드시 공백을 포함해야 한다.)
[입력 예시 1]
3
[출력 예시 1]
*
* *
* * *

In [ ]:
n= int(input())
for i in range(n):
  space1='*'*(i+1)
  space2=' '*(n-i-1)
  print(space1+space2)

3
*
**
***

게임을 진행할 횟수를 자연수 n으로 입력 받고 가위/바위/보 중에 하나를 결정하여 문자로 입력 받은 후
n회에 대하여 아래의 설명된 [가위바위보 게임]을 진행하여,
이긴 횟수 / 비긴 횟수 / 진 횟수를 각각 출력하는 프로그램을 작성하라.
[가위바위보 게임]
가위바위보 게임은 각각 내고 싶은 것을 영어 소문자 혹은 대문자로 입력 받는다.
(가위는 s 혹은 S, 주먹은 r 혹은 R,  보는 p 혹은 P로 입력 받는다.)
가위는 보를 이길 수 있으며, 보는 주먹을 이길 수 있고, 주먹은 가위를 이길 수 있다.
[입력 예시 1]
1 -> 게임을 진행할 횟수
s -> 가위로 게임 진행
P -> 보
[출력 예시 1]
Win: 1
Draw: 0
Lose: 0

In [ ]:
n = int(input())
# R,r ->주먹, #S,s ->가위 , #P,p->보
choice=input()
count1=0#for win
count2=0#for draw
count3=0#for lose
for i in range(n):
  man=input()
  if choice =='R' or choice =='r':
    if man =='S' or man =='s':
      count1+=1
    elif man =='R' or man == 'r':
      count2+=1
    else:
      count3+=1
  if choice =='S' or choice =='s':
    if man =='P' or man =='p':
      count1+=1
    elif man =='S' or man == 's':
      count2+=1
    else:
      count3+=1
  if choice =='P' or choice =='p':
    if man =='R' or man =='r':
      count1+=1
    elif man =='P' or man == 'p':
      count2+=1
    else:
      count3+=1

print("Win:%d"%count1)
print("Draw:%d"%count2)
print("Lose:%d"%count3)

4
P
s
r
p
r
Win:2
Draw:1
Lose:1

정수 N을 입력받아서, 구구단 1단부터 N단까지를 출력하여라.
(Hint: 바깥쪽 반복문은 출력할 단, 안쪽 반복문은 해당 단에서 x1 ~ x9를 계산하게 구성해보자.)
[입력 예시 1]
3
[출력 예시 1]
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,10):
    print("%d x %d = %d"%(i,j,i*j))

3
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

어떤 물건의 가격과 세율(%)을 정수로 입력받아 세금을 적용한 최종 가격을 계산하는 프로그램을 작성하세요.
단, 세율은 0과 100사이의 정수로 입력되며, 최종 가격은 소수점 이하는 버림하여 정수로 출력합니다.

[입력예시1]
12000
13

[출력예시1]
Total = 13560

In [ ]:
price = int(input())
rate=int(input())
rate1=float(1+rate/100)
total=price*rate1
print("Total =",int(total+0.5))

12000
13
Total= 13560

원서는 마트에서 선물을 사려고 한다. 구매할 선물의 가격은 3000원이고, 돈이 남으면 1500원의 음료수를 사려고 한다.
현재 가진 돈을 정수로 입력받고, 예시와 같이 선물(과 음료수) 구매 후 남은 돈을 출력하시오.
(단, 현재 가진 돈은 최소 3000원 이상으로 주어진다.)

[입력 예시 1]
5000

[출력 예시 1]
Buy Gift
Buy Drink
Money = 500

[입력 예시 2]
3000

[출력 예시 2]
Buy Gift
Money = 0

[입력 예시 3]
4500

[출력 예시 3]
Buy Gift
Buy Drink
Money = 0

In [8]:
price=int(input())

price-=3000
print("Buy Gift")
if price>=1500:
    print("Buy Drink")
    price-=1500
print("Money= %d"%price)

5000
Buy Gift
Buy Drink
Money= 500

정수를 입력받아, 그 수가 8 이상이면서 동시에 10과 다른 수인지를 관계 연산자를 사용하여 연산한 결과를 출력하시오.
[입력 예시 1]
9
[출력 예시 1]
True

In [10]:
a=int(input())
print(a>=8 and a!=10)

10
False